/week4-076.Menu/nbproject/private/
/week4-076.Menu/build/
/week4-083.HangmanLogic/nbproject/private/
/week4-083.HangmanLogic/build/
/week5-091.ExtendingMyDate/nbproject/private/
/week5-090.TeamAndPlayers/nbproject/private/
/week5-090.TeamAndPlayers/build/
/week5-091.ExtendingMyDate/build/
/week6-100.NightSky/nbproject/private/
/week6-101.Library/nbproject/private/
/week6-100.NightSky/build/
/week6-101.Library/build/